In [8]:
import numpy
import pandas as pd

In [23]:
df = pd.read_csv(r'raw_trends1.csv')

In [24]:
df.head()

,Game,Date,Score,Result,Margin,FGM/A,FG%,3FGM/A,3FGA,3FG%,...,PF Mar,AST,TO,A:TO,Opp TO,TO Mar,BLK,STL,PTS,Poss.
0,vs?Dickinson,1/14/2016,82-68,W,14,26-54,0.481,5-13,13,0.385,...,-4,14,19,0.74,10,-9,3,4,82,86
1,at?Dickinson,2/13/2016,66-75,L,-9,23-59,0.39,7-23,23,0.304,...,2,5,18,0.28,15,-3,0,4,66,82
2,vs?Dickinson,2/26/2016,77-73,W,4,22-57,0.386,6-21,21,0.286,...,-6,8,9,0.89,15,6,3,7,77,82
3,vs?Dickinson,12/3/2016,72-65,W (OT),7,25-58,0.431,3-10,10,0.3,...,-8,7,23,0.30,15,-8,5,7,72,93*
4,at?Dickinson,1/21/2017,66-53,W,13,21-49,0.429,5-22,22,0.227,...,5,10,19,0.53,10,-9,2,3,66,74